In [49]:
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

In [50]:
print(os.getcwd())

filepath = os.getcwd() + '/event_data'

for root, dirs, files in os.walk(filepath):
    

    file_path_list = glob.glob(os.path.join(root,'*'))

/home/workspace

In [51]:

full_data_rows_list = [] 
    

for f in file_path_list:


    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
    
        for line in csvreader:

            full_data_rows_list.append(line) 
            

csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [52]:
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

In [53]:
from cassandra.cluster import Cluster
cluster = Cluster()

session = cluster.connect()

In [54]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS cassandratest 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [55]:
try:
    session.set_keyspace('cassandratest')
except Exception as e:
    print(e)

In [56]:
#query1 finds the artist,song and length of music by specifying sessionid and itemsession
query1= "select artist ,song ,length from music_by_session where sessionid=338 and iteminsession=4"

#Below query creates table music_by_session with primary key on sessionid and itemsession
query = "CREATE TABLE IF NOT EXISTS music_by_session "
query = query + "(artist text,song text,length float,sessionid int,iteminsession int, PRIMARY KEY (sessionid,iteminsession))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [57]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) 
    for line in csvreader:
        #Below query insert data into table music_by_session by reading data from csv file for artist ,song ,length,sessionid,iteminsession columns
        query = "insert into music_by_session(artist ,song ,length,sessionid,iteminsession)"
        query = query + "values(%s,%s,%s,%s,%s)"
        session.execute(query, (line[0], line[9],float(line[5]),int(line[8]),int(line[3])))

In [58]:
query1= "select artist ,song ,length from music_by_session where sessionid=338 and iteminsession=4"
try:
    rows = session.execute(query1)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

In [59]:
#query2 finds the artist ,song ,firstname,lastname by specifying userid and sessionid
query2= "select artist ,song ,firstname,lastname from music_by_user_session where userid=10 and sessionid=182"

#Below query creates table music_by_user_session with primary key on userid,sessionid and iteminsession,user as clustering columns
query = "CREATE TABLE IF NOT EXISTS music_by_user_session "
query = query + "(artist text,song text,userid int,sessionid int,iteminsession int,user text, PRIMARY KEY ((userid,sessionid),iteminsession,user))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [60]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) 
    for line in csvreader:
        #Below query insert data into table music_by_user_session by reading data from csv file for artist ,song ,userid,sessionid,iteminsession,user columns
        query = "insert into music_by_user_session(artist ,song ,userid,sessionid,iteminsession,user)"
        query = query + "values(%s,%s,%s,%s,%s,%s)"
        user = line[4]+","+line[1]
        session.execute(query, (line[0], line[9],int(line[10]),int(line[8]),int(line[3]),user))

In [61]:
query2= "select artist ,song ,user from music_by_user_session where userid=10 and sessionid=182 "
try:
    rows = session.execute(query2)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist, row.song, row.user)

Down To The Bone Keep On Keepin' On Cruz,Sylvie
Three Drives Greece 2000 Cruz,Sylvie
Sebastien Tellier Kilometer Cruz,Sylvie
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Cruz,Sylvie

In [62]:
#query2 finds user by specifying song name
query3= "select user from music_by_song where song='All Hands Against His Own'"

#Below query creates table music_by_song with primary key on song,userid
query = "CREATE TABLE IF NOT EXISTS music_by_song "
query = query + "(user text,song text,userid int, PRIMARY KEY (song,userid))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [63]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) 
    for line in csvreader:
        #Below query insert data into table music_by_song by reading data from csv file for user,song,userid columns
        query = "insert into music_by_song(user,song,userid)"
        query = query + "values(%s,%s,%s)"
        user = line[4]+","+line[1]
        session.execute(query, (user, line[9],int(line[10])))

In [64]:
query1= "select user from music_by_song where song='All Hands Against His Own'"
try:
    rows = session.execute(query1)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.user)

Lynch,Jacqueline
Levine,Tegan
Johnson,Sara

In [65]:
query = "drop table music_by_session"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "drop table music_by_user_session"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
query = "drop table music_by_song"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [66]:
session.shutdown()
cluster.shutdown()